# Python
__pycache__/
*.pyc

# Virtual Env
.venv/
.venv-1/

# Databases
*.db

# Vector DB
storage/vector_db/

# Uploads
storage/uploads/

# React
frontend/node_modules/
frontend/dist/

# Root node modules
node_modules/

# Environment
.env

*.document-recovery.lock
